.createTodoButton {
  width: 10rem;
  height: 2rem;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  color: #35a7ff;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  padding: 0.3rem;
  box-sizing: border-box;
  left: 0;
  font-size: 1.1rem;
}
.createTodosText {
  font-size: 1.1rem;
  color: #35a7ff;
}
